:root{
    --color-primary: #f4db27;
    --color-seconary: #faf6eb
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto Mono", monospace;
    font-style: normal;
}
html{
    font-size: 62.5%;
    background-color: var(--color-seconary);  
    scroll-behavior: smooth;
}
[id] {
    scroll-margin-top: 7rem;
  }

body{
}

header{
    background: var(--color-primary);
    text-align: center;
    color: white;
    font-weight: 700px;
    font-style: italic;
    font-size: 2rem;
    z-index: 1;
    position: sticky;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem 2rem;
}
.burger {
    font-size: 2rem;
    cursor: pointer;
    user-select: none;
    z-index: 3;
  }

  /* Overlay */
  .overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.5);
    display: none;
    z-index: 2;
  }

  .overlay.show {
    display: block;
  }

  /* Menu */
  .menu {
    position: fixed;
    top: 0;
    right: -50vw; /* Ẩn ban đầu */
    width: 50vw;
    height: 100vh;
    background-color: #333;
    color: white;
    padding: 20px;
    transition: right 0.3s ease;
    z-index: 3;
    overflow: scroll;
    text-align: start;
    font-size: 1.5rem;
  }

  .menu ul {
    list-style: none;
    padding: 0;
  }

  .menu li {
    line-height: 4rem;
  }

  .menu li a{
    text-decoration: none;
    color: white;
  }

  .menu.open {
    right: 0;
  }

.note{
    padding: 2rem;
}

.note__area{
    padding: 1rem;
    border: 0.3rem solid gray;
    border-radius: 1rem;
    margin-bottom: 2rem;
    transition: 0.3s ease-in-out;
}

.note__area:hover{
    border: 0.3rem solid black;
}

.note__title{

}

.note__content{
    padding: 2rem;
    line-height: 3rem;
    font-size: 1.3rem;
}